<?xml version="1.0" encoding="utf-8"?>

<!-- 如需使用 Web.config 轉換的詳細資料，請瀏覽 https://go.microsoft.com/fwlink/?LinkId=301874-->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add name="Todo"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="Server=titandb;Database=todo;User Id=sa;Password=Ade9rr3kl_34;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
